{% for target in nginx_targets %}
- targets:
    - "{{ target.url }}"
  labels:
    job: {{ label }}
{% if target.labels is defined %}
{% for key, value in target.labels.items() %}
    {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
{% endfor %}